*{
	margin: 0;
	padding: 0;
}
li{
	list-style: none;
}
html,body{
	font-size: 12px;
	height: 100%;
	font-family: Arial, Helvetica, sans-serif;
	user-select:none;
	-webkit-user-select:none;
	-ms-user-select:none;
	-moz-user-select:none;
	cursor:context-menu;
}
/*主页样式区*/
#stage{
	background: #2D2A2A;
	perspective: 1000px;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 9999;
	transition: 3s;
	background-color: #000;
	/* 此处为背景色 */
	/* background-color: pink; */
}

/* 设置logo-企鹅的位置 */
.img1{

/* 定义logo位置，脱离文档流 */
  position: absolute;
  left:0px;
  top: 11px;
  height:38px;
	margin:36px 0 0 42px;
}

.img1:hover{
  left: -3px;
  top: 7px;
  height:45px;
}







.container {
	margin:  200px auto ;
	display: block;
	width: 200px;
	height: 200px;
	transform-style: preserve-3d;
	position:relative;
	transition: 3s;
}
.container div{
	width: 200px;
	height: 200px;
	opacity: .8;
	position:absolute;
	transition:transform 3s;
	background-image:url(img/disk.png);
	background-repeat: no-repeat;
	background-size: 0px 0px;
}
.container div img{
	width: 200px;
	height: 200px;
	position:absolute;
	left: -100px;
	top:0px;
	box-shadow: -70px 0px 500px #888888;
}
.part1{ transform:  rotateY( 180deg )   translateZ(400px);}
.part2{ transform:  rotateY( 240deg)   translateZ(400px);}
.part3{ transform:  rotateY( 300deg)  translateZ(400px);}
.part4{ transform:  rotateY( 360deg)  translateZ(400px);}
.part5{ transform:  rotateY( 420deg)  translateZ(400px);}
.part6{ transform:  rotateY( 480deg)  translateZ(400px);}
.meet1{ transform:  rotateY( 180deg );}
.meet2{ transform:  rotateY( 240deg) ;}
.meet3{ transform:  rotateY( 300deg) ;}
.meet4{ transform:  rotateY( 360deg) ;}
.meet5{ transform:  rotateY( 420deg) ;}
.meet6{ transform:  rotateY( 480deg) ;}
/*播放页面样式区*/
#wrapper{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	/* background-color: pink; */
}
/* 此处为播放页面的背景图，不同歌曲会自动切换 */
.bg{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background: url(img/default.jpg) no-repeat;
	background-size: cover;
	-webkit-filter: blur(18px);
	z-index: -1;
	background-position: 0 50%;
}
/* 此处为播放页面歌词切换时的遮罩 */
.bg-black{
position: absolute;
width: 100%;
height: 100%;
background-color:#000;
opacity: 0.4;
}

.song,.artist{
	width: 200px;
	margin:0 auto;
	margin-top: 8px;
	white-space: nowrap;
	text-overflow: ellipsis;
	font-size: 28px;
	text-align: center;
	font-weight: bold;
	/* margin: 8px; */
	/* font-family: '微软雅黑'; */
	font-family: '鸿雷板书简体';
	position: relative;
	/* top: 0;
	left: 42.5%; */
	color: #f1f1f1;
	/* opacity: 50%; */
	/* 观察位置用 */
	/* background-color: red; */
}
.artist{
	margin-top: 2px;
	font-size: 13px;
	color: #dedede;
}

.header{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 10%;
	/* 观察位置用 */
	/* background-color: purple; */
}
.center{
	position: absolute;
	top: 139px;
	width: 100%;
	height: 330px;
	overflow: hidden;
	/* 观察位置用 */
	/* background-color: blue; */
	cursor: pointer;
}
/*唱针进入唱片*/
#styli{
	position: absolute;
	top: -2px;
	left: 50%;
	margin-left: -17px;
	width: 85px;
	/* 观察位置用 */
	/* background-color:red; */
	z-index: 20;
	transition: transform 0.5s;
	transform-origin:16px 16px;
	-webkit-transform-origin:16px 16px;
}
/*唱针离开唱片*/
.play-needle {
	transform: rotate(-30deg);
	-ms-transform: rotate(-30deg); /* IE 9 */
	-webkit-transform: rotate(-30deg);/* Safari and Chrome */
}
.disk-bg{
	position: absolute;
	width: 250px;
	height: 250px;
	left: 50%;
	top: 73px;
	margin: 0px -125px;
	background-color: rgba(251, 251, 251, 0.2);
	border-radius: 50%;
}
.disk-album-bg{
	width: 240px;
	height: 240px;
	border-radius: 50%;
	left: 5px;
	top: 6px;
	position: absolute;
}
.disk-music-bg{
	width: 250px;
	height: 250px;
	position: absolute;
	left: 50%;
	top: 2px;
	margin: 0px -126px;
	border-radius: 126px;
}
.disk{
	width: 252px;
	height: 252px;
	position: absolute;
	/* 观察位置用 */
	/* background-color: pink; */
	/*left: 50%;*/
	top: 72px;
	margin: 0px -126px;
	border-radius: 126px;
	animation: rotate-disk 20s infinite normal linear;
	-webkit-animation: rotate-disk 20s infinite normal linear;
	animation-play-state: paused;
	-webkit-animation-play-state: paused;
}
@keyframes rotate-disk {
    100% {
        transform: rotateZ(360deg);
    }
}
@-webkit-keyframes rotate-disk {
    100% {
        -webkit-transform: rotateZ(360deg);
    }
}
.footer{
	position: absolute;
	height: 120px;
	width: 100%;
	bottom: 0;
	left: 0;
	overflow: hidden;
	color: #fff;
}
#process{
	margin:0 auto;
	text-align: center;
	line-height: 20px;
	/* background-color:pink; */
}
#process span{
	display: inline-block;
}
#process-bar{
	position: relative;
	display: inline-block;
	width: 240px;
	height: 20px;
	vertical-align: bottom;
	cursor: pointer;
	/* background-color: yellow; */
}
#currentTime{
	margin-right: 6px;
}
#total-time{
	margin-left: 4px;
}
#cur-btn{
	cursor: pointer;
	position: absolute;
	left: 0px;
	margin-left: -10px;
	top: -9px;
	width: 20px;
	height: 20px;
	background: url(img/process_btn.png) no-repeat;
	background-size: 20px;
	-webkit-filter: brightness(0.9);
}
#process-bar div{
	margin-top: 9px;
	position: absolute;
	top: 0;
	left: 0;
	height: 2px;
	cursor: pointer;
}
/* 进度条已播放部分颜色 */
#process-cur{
	background: #FF758C;
}
/* 进度条待播放部分颜色 */
#process-all{
	width: 100%;
	background-color: #c7c7c7;
	/*background-color: #B1ADAC;*/
	/*缓冲条*/
}
#control{
	margin: 0 auto;
	padding-left: 33px;
	width: 350px;
	height: 100px;
}
#control span{
	display: inline-block;
	margin-right: 15px;
	cursor: pointer;
}
.loop{
	background: url(img/play_icn_loop.png);
	width: 36px;
	height: 36px;
}
.loop:hover{
	background: url(img/play_icn_loop-touch.png);
}
.pre{
	background: url(img/play_btn_prev.png);
	width: 50px;
	height: 50px;
}
.pre:hover{
	background: url(img/play_btn_prev-touch.png);
}
.play{
	background: url(img/play_rdi_btn_play.png);
	width: 70px;
	height: 70px;
}
.play:hover{
	background: url(img/play_rdi_btn_play-touch.png);
}
.pause{
	background: url(img/play_rdi_btn_pause.png);
	width: 70px;
	height: 70px;
}
.pause:hover{
	background: url(img/play_rdi_btn_pause-touch.png);
}
.next{
	background: url(img/play_btn_next.png);
	width: 50px;
	height: 50px;
}
.next:hover{
	background: url(img/play_btn_next-touch.png);
}
.list{
	background: url(img/play_icn_src.png);
	width: 36px;
	height: 36px;
}
.list:hover{
	background: url(img/play_icn_src-touch.png);
}
#play-list{
	z-index: 20;
	display: block;
	background-color: rgba(250,250,250, 0.9);
	position: fixed;
	width: 25%;
	height: 430px;
	/* 这里相当于出生时隐藏了 */
	bottom: -430px;
	right:0px;
	overflow: hidden;
	/* 这里控制字体颜色 */
	color: #111;
	font-family: '微软雅黑';
	font-weight: lighter;
	border-radius: 8px  8px 0 0;
}
#play-list ul{
    height: 365px;
    width: 102%;
    padding: 0 4% 0 0;
    overflow-x: hidden;
    overflow-y: scroll;
}
#play-list ul li{
	width: 101%;
	height: 41px;
	border-bottom: #e0e0e0 solid 1px;
	font-size: 16px;
	line-height: 40px;
	text-indent: 1em;
	cursor: pointer;
	position: relative;
}
#play-list ul li span{
	font-size: 14px;
	color: #888;
	position: absolute;
	right: 9px;
}
#play-list ul li.active{
	background: url(img/song_play_icon.png) no-repeat;
	background-position: 1em 50%;
	text-indent: 2em;
	background-size: auto 10px;
	/* 观察位置用 */
	/* background-color: red; */
	color:#FF758C;
}
.list-title{
	font-size: 22px;
	font-weight: bold;
	margin: 0 auto;
	width: 100%;
	height: 65px;
	line-height: 65px;
	/* text-indent: 1em; */
	padding-left: 17px;
	/* border-bottom: #b8b8b8 solid 1px; */
	box-shadow:0px 1px 5px 0px rgba(0,0,0,0.18);
}
#playListCount{
	border-radius:50%;
	background-color:#FF758C;
	display:inline-block;
	width:20px;
	height:20px;
	line-height:20px;
	text-align:center;
	color:#eee;
	font-family: Arial;
	font-weight: lighter;
	font-size: 12px;
	position: relative;
	left:3px;
	top: -3px;


}



.list-title-close{
	position: absolute;
	right: 15px;
	top: 20px;
	font-size: 30px;
	width: 30px;
	height: 30px;
	line-height: 25px;
	text-align: center;
	cursor: pointer;
	transition:0.6s;
}
.list-title-close:hover{
	color: #FF758C;
	transform:rotate(180deg) scale(1.2);
}

.lyric{
	position: absolute;
	/* 控制歌词位置 */
	top: 139px;
	width: 100%;
	height: 390px;
	overflow: hidden;
	display: none;
	/* 观察位置 */
	/* background: pink; */
	cursor: pointer;
}
.lyric #line{
	position: absolute;
	left: 0;
	top: 200px;
	width: 100%;
	height: 0;
	border-top: 1px dashed #D5D5C7;
	display: none;
}
.lyric ul{
	position: absolute;
	top: 147px;
	width: 100%;
	color: #fff;
	font-family: '微软雅黑';
	text-align: center;
}
.lyric ul li{
	/* 这里设置未播放歌词颜色 */
	color: #ddd;
	opacity: 0.7;
	font-size: 15px;
	transition:font-size 0.5s, color 1s,opacity 0.5s;
	line-height: 42px;
}
.lyric ul li.active{
	// color: #4FF6E3;
	font-size: 18px;
	font-weight: bold;
	opacity: 0.99;
}
#list-mask{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 20;
	width: 100%;
	height: 100%;
	display: none;
}

#tofirstpage{
	position: absolute;
	left: 10px;
	top: 10px;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background: url(img/tofirstpage.jpg) no-repeat;
	background-position: -62px -233px;
	cursor: pointer;
}
#tofirstpage:hover{
	transform:scale(1.2);
}
